 
{% assign countries = include.communities | group_by:"country" %}
{% assign sorted_countries = countries | sort: 'name' %}

{% assign index = 0 %}

{% for country in sorted_countries  %}
    <dt>{{ country.name }}</dt>
    <dd>
        <ul>
        {% assign communities = country.items | sort: 'name' %}
        {% for community in communities %} 
            <li> 
                <a  id="label-{{ index }}" href="{{community.link}}"> 
                    {{ community.name | truncate: 30 }} 
                </a> 
                <div class="members-counter"> 
                    <img 
                    src='https://img.shields.io/badge/{{community.members}}-miembros-green.svg' 
                    alt='{{ community.members}} miembros' />
                </div>
                {% include components/tooltip.html community=community index=index %}
            </li>
            {% assign index = index | plus:1 %}
        {% endfor %}
        </ul>
    </dd>
{% endfor %}